@font-face {
    font-family: AdorNoirrit;
    src: url(fonts/AdorNoirrit.ttf);
}
body {
    font-family: AdorNoirrit;
}
.heading {
  position: relative;
}
.heading::after {
  content: "";
  position: absolute;
  bottom: -4px; /* Adjust based on your design */
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 100px; /* Full width of the heading */
  height: 4px; /* Thickness of the border */
  background: linear-gradient(to right, #38a169 50%,  #2e2e2e  50%); /* Black and Green colors */
}
.hero-menu li a {
  display: block;
  padding: 15px;
}
.ggb {
  background-color: #38a169;
  color: #FFF;
}
@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
/* Sidebar Fixed */

.sidebar-fixed {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  width: 80%;
  height: 100%;
  z-index: 9999999999;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%); /* Hide sidebar initially */
  transition: transform 0.3s ease; /* Smooth slide transition */
}
/* Show sidebar when active */
.sidebar-fixed.active {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black with opacity */
  display: none; /* Initially hidden */
  z-index: 999998; /* Behind sidebar but above content */
}

.overlay.active {
  opacity: 1;
  display: block;
}
